.App {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.quoteBox {
    padding: 2rem 1.5rem;
    background-color: rgb(255, 255, 255);
    width: 50rem;
    max-width: 45rem;
    border-radius: 7px;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.493);
    margin: 0rem 1.7rem;
    max-height: 100vh;
    position: relative;
}
.quote-author {
    text-align: right;
    margin-top: 5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    word-spacing: .2em;
    font-size: .9rem;
}
.quote-paragraph {
    text-transform: uppercase;
    padding-top: 1.5rem ;
    letter-spacing: .2rem;
    word-spacing: .7rem;
    line-height: 2rem;
    font-weight: bold;
}
.quoteBox-btn img {
    width: 2.8rem;
}
.quoteBox-btn   {
    margin: 0rem 0rem 0rem 20rem;
    padding: .8rem 0rem;
    border: none;
    background-color: white;
}
.quoteBox-btn :hover {
    cursor: pointer;
    width: 3.5rem;
    transition: 1s;
    transform: scale(1);
}